@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins",sans-serif;
    background:#0f0f14;
    color:#e6e6e6;
    line-height:1.6;
}

/* ===== NAVBAR ===== */

header{
    padding:25px 10%;
    background:rgba(20,20,30,0.7);
    backdrop-filter:blur(10px);
    position:sticky;
    top:0;
    z-index:100;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    font-size:1.8rem;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#e6e6e6;
    transition:0.3s;
}

nav a:hover{
    color:#7c7cff;
}

/* ===== MAIN ===== */

main{
    padding:60px 10%;
}

section{
    margin-bottom:80px;
    animation:fadeUp 1s ease;
}

h2{
    color:#7c7cff;
    margin-bottom:15px;
}

p{
    max-width:650px;
    color:#bdbddd;
}

/* ===== PROJECT IMAGES ===== */

section div{
    margin-top:30px;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

section img{
    height:200px;
    width:180px;
    object-fit:cover;

    border-radius:15px;
    transition:0.4s;
    box-shadow:0 0 20px rgba(124,124,255,0.15);
    cursor:pointer;
}

section img:hover{
    transform:translateY(-8px) scale(1.05);
    box-shadow:0 0 35px rgba(124,124,255,0.45);
}

/* ===== FOOTER ===== */

footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;

    padding:40px 10%;
    border-top:1px solid rgba(255,255,255,0.08);
}

footer ul{
    list-style:none;
    display:flex;
    gap:25px;
    margin:15px 0;
}

footer a{
    text-decoration:none;
    color:#e6e6e6;
    transition:0.3s;
}

footer a:hover{
    color:#7c7cff;
}

/* ===== ANIMATION ===== */

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* ===== MOBILE ===== */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    main{
        padding:40px 8%;
    }

    nav h1{
        font-size:1.5rem;
    }

    section img{
        width:150px;
        height:200px;
    }

}
